/* Add CSS Styling */
.odd{
    background-color: rgb(239, 164, 177);
    font-family: Verdana, DejaVu Sans,sans-serif;
}
#number2{
color: rgb(0, 0, 252);
font-size: 36px;
}
#number4{
    background-color: rgb(172, 255, 172);
    font-size: 24px;
    font-weight: bold;
}
.number3.odd{
    font-size: 24px;
}